/ctaudit
/ctaudit-report.html
/elb-report.html
/waf-report.html
/s3-report.html
/*.pdf
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate*
**/terraform.tfvars
.DS_Store
# Editor and agent files
.serena/
.superpowers/
