{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "sts:AssumeRoleWithWebIdentity",
      "Principal": {
        "Federated": ${jsonencode(oidc_provider_arn)}
      },
      "Condition": {
        "StringEquals": {
          ${jsonencode("${oidc_host}:sub")}: ${jsonencode(subject)},
          ${jsonencode("${oidc_host}:aud")}: "sts.amazonaws.com"
        }
      }
    }
  ]
}
